@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f8fafb;
}

@layer utilities {
  .nav-link:nth-child(4) {
    stroke: #292d32;
    stroke-width: 0.25px;
  }
  .nav-link-white:nth-child(4) {
    stroke: white;
    stroke-width: 0.25px;
  }
  .scrim[data-overlay="false"]::after,
  .scrim[data-overlay="true"]::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.242),
      rgba(0, 0, 0, 0.903)
    );
    opacity: 0;
    transition: all 450ms ease-in-out;
  }
  .scrim[data-overlay="true"]::after {
    opacity: 1;
    transition: all 250ms ease-in-out;
  }
}

.article-wrapper {
  --column-size: 90%;

  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: var(--column-size);

  overflow-x: auto;
  /* scrollbar-gutter: stable; */
  overscroll-behavior-inline: contain;
}

.stories-wrapper {
  --column-size: 90%;
}

@media (min-width: 640px) {
  .article-wrapper {
    --column-size: 65%;
  }
  .stories-wrapper {
    --column-size: 55%;
  }
}
@media (min-width: 768px) {
  .article-wrapper {
    --column-size: 55%;
  }
  .stories-wrapper {
    --column-size: 45%;
  }
}
@media (min-width: 1023px) {
  .article-wrapper {
    --column-size: 55%;
  }
  .stories-wrapper {
    --column-size: 45%;
  }
}
@media (min-width: 1440px) {
  .article-wrapper {
    --column-size: 34%;
  }
  .stories-wrapper {
    --column-size: 29%;
  }
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
  scroll-snap-align: start;
}

.article-wrapper::-webkit-scrollbar {
  display: none;
}
@media (hover: hover) {
  .article-wrapper::-webkit-scrollbar {
    height: 0px;
    display: block;
    margin-inline: 1rem;
    border-radius: 100vmax;
    background: transparent;
    transition: all 250ms ease-in-out;
  }
  .article-wrapper:hover::-webkit-scrollbar {
    height: 7px;
  }
  .article-wrapper::-webkit-scrollbar-track {
    margin-inline: 2rem;
    border-radius: 100vmax;
  }
  .article-wrapper::-webkit-scrollbar-thumb {
    background: #292d32;
    border-radius: 100vmax;
  }
}
